.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    padding: 10px;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 48%;
    margin-bottom: 20px;
}

.preview {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.umbrella-image,
.upload-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.upload-logo {
    display: none;
}

.preview-settings {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limit width of settings container */
}

.color-button {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    margin: 5px;
    cursor: pointer;
}

.text-sec {
    margin-top: 20px;
    text-align: center;
}

.upload-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.upload-button-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    background-color: rgb(94, 94, 253);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button-item-container:last-child {
    background-color: #dc3545;
}

@media (max-width: 768px) {
    .item {
        width: 100%;
    }

    .upload-button-item-container {
        width: 100%;
    }

    .main-container {
        padding: 0;
    }

    .preview-container {
        padding: 0 10px; /* Add some padding on smaller screens */
    }

    .color-button {
        width: 40px;
        height: 40px;
        margin: 3px;
    }
}


